<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="footerFragment">
    <!-- footer -->
    <footer class="page-footer text-center" style="background: rgb(181, 181, 181)">
      <div class="container-fluid">
        <div class="container justify-content-center">
          <p class="brand p-3 m-0"><b>Guitar Tablature Maker</b> by yuudong123<br />E-mail : yuudong123@github.com</p>
        </div>
      </div>
      <div class="footer-copyright font-small text-center py-3 bg-default">
        © 2023 Copyright:
        <a href="https://github.com/yuudong123"> https://github.com/yuudong123</a>
      </div>
    </footer>
    <!-- footer -->

    <!-- button top -->
    <div id="btn-top" style="position: fixed; right: 20px; bottom: 20px; z-index: 9">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="rgb(120, 120, 120)" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
        </svg>
      </a>
    </div>
    <!-- button top -->
  </th:block>
</html>
