<!DOCTYPE html>
<html lang="ko">
  <head include-html="/template/includes/head.html">
    <link rel="stylesheet" href="/css/aboutme.css">
  </head>
  <body>
    <header include-html="/template/includes/header.html"></header>
    <main>

    </main>
    <footer include-html="/template/includes/footer.html" class="page-footer blue lighten-3"></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/includeHTML.js"></script>
  </body>
</html>
