<!DOCTYPE html>
<html lang="ko">
  <head include-html="/template/includes/head.html">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <header include-html="/template/includes/header.html"></header>
    <main>
      <div id="first" class="container-fluid">
        <h1>Hi, I'm Jo</h1>
        <a href="aboutme.html">About me >></a>
      </div>
    </main>
    <footer include-html="/template/includes/footer.html" class="page-footer blue lighten-3"></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/includeHTML.js"></script>
  </body>
</html>
