<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
  <th:block layout:fragment="content">
    <link rel="stylesheet" href="/css/maker.css" />
    <!-- h1 -->
    <div style="width: 100%"><h1 style="font-weight: bold">Guitar Tablature Maker</h1></div>
    <!-- h1 -->

    <div id="workslist" class="container">
      <p>My works</p>
    </div>
    <div id="io-data" class="d-none">
      <input id="io-content" type="hidden" name="content" value="">
      <input id="io-title" type="hidden" name="title" value="">
      <input id="io-line" type="hidden" name="line" value="">
      <input id="io-input" type="hidden" name="input" value="">
    </div>

    <div class="buttons">
      <button type="button" class="btn-show">Show</button>
      <button type="button" class="btn-reset">Reset</button>
      <button type="button" class="btn-save">Save</button>
    </div>
    <div class="wrap-input">
      <div class="wrap-set-number">
        <div class="set-input-number">
          <button class="btn-input-up">&plus;</button>
          <span>Cell : </span>
          <input type="number" value="8" class="cnt-input" style="display: none" />
          <span class="show-cnt-input"></span>
          <button class="btn-input-down">&minus;</button>
        </div>
        <div class="set-line-number">
          <button class="btn-line-up">&plus;</button>
          <span>Line : </span>
          <input type="number" value="0" class="cnt-line" style="display: none" />
          <span class="show-cnt-line"></span>
          <button class="btn-line-down">&minus;</button>
        </div>
        <div class="set-key">
          <button class="btn-key-up">&plus;</button>
          <span>Transpose </span>
          <button class="btn-key-down">&minus;</button>
        </div>
      </div>
      <div id="container-chord-input"></div>
    </div>
    <div id="container-image">
      <input type="text" id="tab-title" placeholder="Enter Title" />
    </div>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script src="/scripts/maker-buttons.js"></script>
    <script src="/scripts/maker-html2canvas.min.js"></script>
    <script src="/scripts/maker-container-chord-inputs.js"></script>
    <script src="/scripts/maker-idbload.js"></script>
  </th:block>
</html>
