* {
  margin: 0;
}
body {
  text-align: center;
  position: relative;
  padding-bottom: 50px;
}
h1 {
  color: rgb(0, 0, 0);
  background-color: #838383;
  padding: 10px;
}

.cntLine,
.cntInput {
  display: none;
}
.buttons {
  text-align: center;
  margin: 20px;
}
.btn-save,
.buttons * {
  background-color: rgb(167, 167, 167);
  font-size: 25px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  position: relative;
}
.wrap-input {
  position: relative;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}
.wrap-set-number {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  width: fit-content;
  height: fit-content;
}
.wrap-set-number div {
  width: fit-content;
  display: inline-block;
  padding: 3px;
  background-color: rgb(167, 167, 167);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.wrap-set-number span {
  width: 18px;
  text-align: center;
  line-height: 100%;
  font-size: 14px;
  font-weight: bold;
  margin: 0 3px;
}
.wrap-set-number button {
  border: none;
  padding: 0;
  width: 21px;
  height: 100%;
  font-size: 20px;
  line-height: 100%;
  background-color: rgb(167, 167, 167);
}
.wrap-set-number button:active {
  font-weight: bold;
}

#container-chord-input {
  min-height: 56px;
  background-color: rgb(124, 124, 124);
  position: relative;
  display: inline-block;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.chord-line {
  background-color: rgb(167, 167, 167);
  display: flex;
  position: relative;
  padding-left: 20px;
  margin: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  line-height: 100%;
}
.chord-line:active {
  background-color: #c9c9c9;
}
.cell {
  background-color: rgb(236, 236, 236);
  width: 58px;
  height: 28px;
  margin: 3px;
  padding: 3px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 14px;
}
.cell input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 12px;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
}
.handle {
  position: absolute;
  left: 2px;
  top: 8px;
  width: 20px;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
.btn-del-line {
  width: 34px;
  height: 26px;
  border: none;
  background: none;
  border-radius: 20%;
  font-size: 25px;
  font-weight: bold;
  line-height: 100%;
  padding: 0;
  color: #800800;
}

#container-image {
  width: fit-content;
  height: fit-content;
  min-height: 20px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

#tab-title {
  min-width: 300px;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  background: none;
  border: none;
  padding: 10px;
}
#tab-title::placeholder {
  color: rgb(165, 165, 165);
}
#container-image .divider-line {
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0;
  width: auto;
}

.chord-image {
  width: 125px;
}

.image-line {
  width: fit-content;
  height: 110px;
  display: flex;
  column-gap: 8px;
  margin: 0 auto;
  margin-top: 10px;
}
