#first {
  height: 200px;
  background-image: url("/images/indexmainimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
#first h1 {
  margin: 0;
}
#first a {
  border-radius: 5px;
  padding-inline: 10px;
  background-color: rgba(237, 255, 255, 0.521);
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-weight: bold;
}
